<!DOCTYPE HTML>
<!--
	Eventually by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Eventually</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}" />
	</head>
	<body class="is-preload">

		<div id="background_image" value='{{ url_for("static", filename="/images/bg01.jpg") }}'></div>

		<!-- Header -->
			<header id="header">
				<h1>Eventually</h1>
				<p>You'll get an appointment at your immigration office.</p>
				{% if success is none %}
					<p>The form below allows you to request e-mail notifications if an appointment is available.</p>
				{% endif %}
			</header>

		<!-- Signup Form -->
			
			{% if success is not none %}
				<p class="success">{{ success }}</p>
			{% else %}
				{% if error is not none %}
					<p class="error">{{ error }}</p>
				{% endif %}
				<form id="signup-form" method="post" action="{{ url_for('submit_mail') }}">
					<select type="location_options" name="location_options" id="location_options" multiple>
						{% for option in options %}
						<option value="{{ option }}">{{ option }}</option>
						{% endfor %}
					</select><br/>
					<input type="email" name="mail" id="mail" placeholder="Email Address" /><br/>
					<div>What's 3 x 7?</div><input type="text" name="solution" /><br/>
					<input type="submit" value="Sign Up" /><br/>
				</form>
			{% endif %}

		<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='/assets/js/main.js') }}"></script>

	</body>
</html>